.hero {
    background: url(../bilder/hero-bild.jpg);
    background-size: cover;
    background-position: center;
    
}
.hero .container {
    color: white;
    text-shadow: 2px 2px #000000;
}

.cardinstagram {
    background: url(../bilder/instagram.png);
    background-size: cover;
    
}


.card-text {
    color: black;
    text-shadow: 1px 1px #000000;
    
}
