.hero {
    background: url(../bilder/hero-bild.jpg);
    background-size: cover;
    background-position: center;
    
}
.hero .container {
    color: white;
    text-shadow: 2px 2px #000000;
}

.cardinstagram {
    background: url(../bilder/instagram.png);
    background-size: cover;
    float: right;
    margin: 2%;
    
}


.card-text {
    color: black;
    font-size: 90%;
    font-weight: 640;
    
}

.btn {

    margin-bottom: 10%;
    margin-top: 10%
}

span {
    opacity: 0
}

.cardall {
    float: right;
}
